.timelapse-container {
    display: flex;
    flex-direction: column;
    // align-items: center;
    max-width: 50vw;  // Reduce the height of the video for smaller screens
  
    video {
      width: 640px;
      height: 480px;
      border: 2px solid #ccc;
      margin-bottom: 10px;
    }
  
    .controls {
      display: flex;
      justify-content: center;
  
      button {
        margin: 5px;
        padding: 10px;
        background-color: coral;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:disabled {
          background-color: grey;
          cursor: not-allowed;
        }
  
        &:hover:not(:disabled) {
          background-color: darkred;
        }
      }
    }
  }
  