.timelapse-container {
  padding: 20px;
  background-color: rgba(255, 127, 80, 0.7);  /* Coral red translucent */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
  video {
    width: 640px;
    height: 480px;
    margin-bottom: 10px;
  }

  .timelapse-controls {
    display: flex;
    justify-content: center;
  }

    .timelapse-controls button {
      padding: 10px 20px;
      background-color: coral;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .timelapse-controls button:hover {
      background-color: darkred;
    }
  
